<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="io.dashchan2.permission.BIND_GOOGLE_TRANSLATION_ADDON" />

	<queries>
		<package android:name="io.dashchan2.addon.googletranslate" />
	</queries>

	<application>
		<!-- Keep Firebase completely dormant until the user explicitly accepts the experimental feature. -->
		<meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
		<meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
	</application>
</manifest>
