/*
!/.gitattributes
!/.github
!/.github/**
!/.gitignore
!/AndroidManifest.xml
!/build.gradle
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/COPYING
!/Dashchan-Webm
!/Dashchan-Webm/**
!/docs
!/docs/**
!/gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/icon.sh
!/icon.svg
!/jni
!/keystore.properties.template
!/lang
!/metadata
!/proguard-rules.pro
!/README.md
!/SECURITY.md
!/res
!/src
!/unitTests
!/unitTests/**
!/update
