<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.VIBRATE" android:maxSdkVersion="18" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="22" />
	<uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission-sdk-23 android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission-sdk-23 android:name="android.permission.REQUEST_DELETE_PACKAGES" />

	<queries>
		<!-- Keep this list in sync with known extension packages in build.gradle. -->
		<package android:name="com.mishiranu.dashchan.chan.archb4k" />
		<package android:name="com.mishiranu.dashchan.chan.archivedmoe" />
		<package android:name="com.mishiranu.dashchan.chan.archiveforplebs" />
		<package android:name="com.mishiranu.dashchan.chan.archiveofsins" />
		<package android:name="com.mishiranu.dashchan.chan.archiverbt" />
		<package android:name="com.mishiranu.dashchan.chan.arhivach" />
		<package android:name="com.mishiranu.dashchan.chan.bunbunmaru" />
		<package android:name="com.mishiranu.dashchan.chan.cirno" />
		<package android:name="com.mishiranu.dashchan.chan.desustorage" />
		<package android:name="com.mishiranu.dashchan.chan.dobrochan" />
		<package android:name="com.mishiranu.dashchan.chan.dollchan" />
		<package android:name="com.mishiranu.dashchan.chan.dvach" />
		<package android:name="io.dashchan2.chan.dvach" />
		<package android:name="io.dashchan2.chan.fourchan" />
		<package android:name="com.mishiranu.dashchan.chan.e444" />
		<package android:name="com.mishiranu.dashchan.chan.endchan" />
		<package android:name="com.mishiranu.dashchan.chan.erlach" />
		<package android:name="com.mishiranu.dashchan.chan.fourchan" />
		<package android:name="com.mishiranu.dashchan.chan.local" />
		<package android:name="com.mishiranu.dashchan.chan.moechannel" />
		<package android:name="com.mishiranu.dashchan.chan.nowere" />
		<package android:name="com.mishiranu.dashchan.chan.palanq" />
		<package android:name="com.mishiranu.dashchan.chan.palanqwin" />
		<package android:name="com.mishiranu.dashchan.chan.refugedobrochan" />
		<package android:name="com.mishiranu.dashchan.chan.sojakparty" />
		<package android:name="com.mishiranu.dashchan.chan.warosu" />
		<package android:name="com.mishiranu.dashchan.chan.yakujimoe" />
		<package android:name="com.mishiranu.dashchan.lib.webm" />
		<package android:name="com.mishiranu.dashchan.lib.webm.test" />
		<package android:name="com.trixiether.dashchan.chan.archb4k" />
		<package android:name="com.trixiether.dashchan.chan.archivedmoe" />
		<package android:name="com.trixiether.dashchan.chan.archiveforplebs" />
		<package android:name="com.trixiether.dashchan.chan.archiveofsins" />
		<package android:name="com.trixiether.dashchan.chan.palanq" />
		<package android:name="com.trixiether.dashchan.chan.refugedobrochan" />
		<package android:name="com.trixiether.dashchan.chan.warosu" />
	</queries>

	<application
		android:name=".content.MainApplication"
		android:label="${appLabel}"
		android:icon="@mipmap/ic_launcher"
		android:logo="@mipmap/ic_logo"
		android:theme="@style/Theme.Launcher"
		android:largeHeap="true"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:usesCleartextTraffic="true"
		android:enableOnBackInvokedCallback="false"
		tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

		<activity
			android:name=".ui.MainActivity"
			android:exported="true"
			android:enableOnBackInvokedCallback="true"
			android:launchMode="singleTask">

			<intent-filter>
				<action android:name="chan.intent.action.HANDLE_URI" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="2ch.su" />
				<data android:host="2ch.org" />
				<data android:host="2ch.life" />
				<data android:host="2ch.hk" />
				<data android:host="2ch.pm" />
				<data android:host="2ch.cm" />
				<data android:host="2ch.re" />
				<data android:host="2ch.tf" />
				<data android:host="2ch.wf" />
				<data android:host="2ch.yt" />
				<data android:host="2-ch.so" />
				<data android:host="4chan.org" />
				<data android:host="www.4chan.org" />
				<data android:host="boards.4chan.org" />
				<data android:host="sys.4chan.org" />
				<data android:host="4channel.org" />
				<data android:host="www.4channel.org" />
				<data android:host="boards.4channel.org" />
				<data android:host="sys.4channel.org" />
				<data android:host="a.4cdn.org" />
				<data android:host="i.4cdn.org" />
				<data android:host="s.4cdn.org" />
				<data android:host="is.4chan.org" />
				<data android:host="is2.4chan.org" />
				<data android:host="find.4chan.org" />
			</intent-filter>

		</activity>

		<activity-alias
			android:name=".launcher.Dashchan2Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="Dashchan_2"
			android:logo="@mipmap/ic_logo">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanAlias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="Двач"
			android:logo="@mipmap/ic_logo">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachAlias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="Slooop"
			android:logo="@mipmap/ic_logo">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2Logo2Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_2"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_2">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanLogo2Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_2"
			android:label="Двач"
			android:logo="@drawable/application_logo_2">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachLogo2Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_2"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_2">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2Logo3Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_3"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_3">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanLogo3Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_3"
			android:label="Двач"
			android:logo="@drawable/application_logo_3">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachLogo3Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_3"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_3">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2Logo4Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_4"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_4">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanLogo4Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_4"
			android:label="Двач"
			android:logo="@drawable/application_logo_4">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachLogo4Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_4"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_4">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2Logo5Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_5"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_5">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanLogo5Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_5"
			android:label="Двач"
			android:logo="@drawable/application_logo_5">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachLogo5Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_5"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_5">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2Logo6Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_6"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_6">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanLogo6Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_6"
			android:label="Двач"
			android:logo="@drawable/application_logo_6">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachLogo6Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_6"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_6">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2Logo7Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_7"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_7">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanLogo7Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_7"
			android:label="Двач"
			android:logo="@drawable/application_logo_7">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachLogo7Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_7"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_7">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2Logo8Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_8"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_8">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanLogo8Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_8"
			android:label="Двач"
			android:logo="@drawable/application_logo_8">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachLogo8Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_8"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_8">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2Logo9Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_9"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_9">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanLogo9Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_9"
			android:label="Двач"
			android:logo="@drawable/application_logo_9">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachLogo9Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_9"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_9">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2Logo10Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_10"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_10">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanLogo10Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_10"
			android:label="Двач"
			android:logo="@drawable/application_logo_10">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachLogo10Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_10"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_10">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2Logo11Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_11"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_11">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanLogo11Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_11"
			android:label="Двач"
			android:logo="@drawable/application_logo_11">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachLogo11Alias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_11"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_11">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>


		<!-- Restricted logo presets remain visible in settings and are enabled only after access checks. -->
		<activity-alias
			android:name=".launcher.Dashchan2PassAlias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_pass"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_pass">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanPassAlias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_pass"
			android:label="Двач"
			android:logo="@drawable/application_logo_pass">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachPassAlias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_pass"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_pass">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.Dashchan2SubscriberAlias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_subscriber"
			android:label="Dashchan_2"
			android:logo="@drawable/application_logo_subscriber">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.SlopchanSubscriberAlias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_subscriber"
			android:label="Двач"
			android:logo="@drawable/application_logo_subscriber">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:name=".launcher.DvachSubscriberAlias"
			android:targetActivity=".ui.MainActivity"
			android:enabled="false"
			android:exported="true"
			android:icon="@drawable/application_logo_subscriber"
			android:label="@string/launcher_name_dvach"
			android:logo="@drawable/application_logo_subscriber">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity
			android:name=".content.PostingShareActivity"
			android:taskAffinity=".postingshare"
			android:launchMode="singleInstance"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.Translucent.NoTitleBar">

			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*"/>
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*"/>
			</intent-filter>

		</activity>

		<activity
			android:name=".content.UpdaterActivity"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.Panel" />

		<activity
			android:name=".ui.gallery.VideoPipActivity"
			android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
			android:excludeFromRecents="true"
			android:exported="false"
			android:resizeableActivity="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/Theme.VideoPip" />

		<service
			android:name=".content.service.PostingService" />

		<receiver
			android:name=".content.service.PostingService$Receiver" />

		<service
			android:name=".content.service.DownloadService" />

		<receiver
			android:name=".content.service.DownloadService$Receiver" />

		<service
			android:name=".content.service.WatcherService" />

		<service
			android:name=".content.service.AudioPlayerService" />

		<service
			android:name=".content.service.webview.WebViewService"
			android:process=":webview" />

		<provider
			android:name=".content.FileProvider"
			android:authorities="${fileProviderAuthority}"
			android:exported="false"
			android:grantUriPermissions="true" />

		<meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632dp" />
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598dp" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632dp" />
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598dp" />

	</application>

</manifest>
